<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<listeners>
		<listener class-name="ps3.s2.ListenerClass" />
				
		
	</listeners>
	<test thread-count="5" name="Test">
	<classes>
	<class name="ps3.TestCase1"></class>
	
	</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->



